@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <h4>@Localizer["Dashboard"]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="dashboardTable" class="table data-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width: 100px;">@Localizer["StudentID"]</th>
                        <th>@Localizer["CourseName"]</th>
                        <th>@Localizer["QuizId"]</th>
                        <th>@Localizer["Score(%)"]</th>
                    </tr>
                </thead>
                <tbody class="grid-table-body"></tbody>
            </table>
        </div>
    </div>
</div>

<script defer="defer">
    var dashboardTable;
</script>