@model List<string>

<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group nav nav-tabs">
                <a id="dashboardLink" href="#dashboardDiv" data-toggle="tab" class="list-group-item list-group-item-action active">Dashboard</a>
                <a id="viewProfileLink" href="#viewProfileDiv" data-toggle="tab" class="list-group-item list-group-item-action ">View Profile</a>
                <a id="updateProfileLink" href="#updateProfileDiv" data-toggle="tab" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="#changePasswordDiv" data-toggle="tab" class="list-group-item list-group-item-action">Change Password</a>
                @if (Model.Contains("Admin"))
                {
                    <a id="coursesLink" href="#coursesDiv" data-toggle="tab" class="list-group-item list-group-item-action">Courses</a>
                    <a id="quizzesLink" href="#quizzesDiv" data-toggle="tab" class="list-group-item list-group-item-action">Quizzes</a>
                }
                @if (Model.Contains("Student"))
                {
                    <a id="takeQuizLink" href="#takeQuizDiv" data-toggle="tab" class="list-group-item list-group-item-action">Take Quiz</a>
                }
                <a href="#" data-toggle="tab" class="list-group-item list-group-item-action" onclick="document.getElementById('logoutForm').submit()">Logout</a>
                <form id="logoutForm" method="post" asp-controller="Account" asp-action="LogOut" style="display: none"></form>
            </div>
        </div>
        <div class="col-md-9 tab-content">
            <div id="dashboardDiv" class="card tab-pane active">
                @( await Html.PartialAsync("_Dashboard"))
            </div>
            <div id="viewProfileDiv" class="card tab-pane"></div>
            <div id="updateProfileDiv" class="card tab-pane"></div>

            <div id="changePasswordDiv" class="card tab-pane">
                @( await Html.PartialAsync("_ChangePassword"))
            </div>

            <div id="coursesDiv" class="card tab-pane">
                @( await Html.PartialAsync("_Courses"))
            </div>
            <div id="quizzesDiv" class="card tab-pane">
                @( await Html.PartialAsync("_Quizzes"))
            </div>
            <div id="takeQuizDiv" class="card tab-pane">

            </div>
        </div>
    </div>
</div>

<script>
    var AccountURLs = {
        GetProfile: '@Url.Action("Get", "Account")',
        UpdateProfile: '@Url.Action("Update", "Account")',
        ChangePassword: '@Url.Action("ChangePassword", "Account")',
        GetCourses: '@Url.Action("Get", "Course")',
        AddCourse: '@Url.Action("Add", "Course")',
        UpdateCourse: '@Url.Action("Update", "Course")',
        DeleteCourse: '@Url.Action("Delete", "Course")',
        GetQuizzes: '@Url.Action("Get", "Quiz")',
        AddQuiz: '@Url.Action("Add", "Quiz")',
        UpdateQuiz: '@Url.Action("Update", "Quiz")',
        DeleteQuiz: '@Url.Action("Delete", "Quiz")',
        TakeQuiz: '@Url.Action("TakeQuiz", "Quiz")',
        GetQuestions: '@Url.Action("GetQuestions", "Quiz")',
        SubmitExam: '@Url.Action("SubmitExam", "Quiz")',
        GetDashboardData: '@Url.Action("GetDashboardData", "Quiz")',
    };
</script>