@model QuizApp.Models.Dto.CourseAndQuizList

<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <h4>My Profile</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 border-bottom-1">
            <div class="row pb-2">
                <div class="col-md-4">
                    <select id="courseListDDL" class="form-control">
                        <option value="0">Please select a course</option>
                        @foreach (var course in Model.Courses)
                        {
                            <option value="@course.Id">@course.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <select id="quizListDDL" class="form-control">
                        <option data-course="0" value="0">Please select a quiz</option>
                        @foreach (var quiz in Model.Quizzes)
                        {
                            <option data-course="@quiz.CourseId" value="@quiz.Id">@quiz.QuizName</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <button id="getQuestionForExam" class="btn btn-info"> Get the Quiz</button>
                </div>
            </div>
        </div>
    </div>
    <div id="examPaperDiv" class="row">

    </div>
</div>