@model List<QuizApp.Models.Dto.Questions>

<div class="col-12">
    <input type="hidden" value="@Model.Count" id="totalQ" />
    @{ for (int i = 0; i < Model.Count; i++)
        {
            <div class="row pt-3" id="ques@(i)">
                <div class="col-12">
                    @(i+1). @Model[i].Question
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-check col-3">
                    <input class="form-check-input" name="q@(i)" type="radio" id="ques@(i)Option1" value="1">
                    <label class="form-check-label" for="ques@(i)Option1">
                        @Model[i].Option1
                    </label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" name="q@(i)" type="radio" id="ques@(i)Option2" value="2">
                    <label class="form-check-label" for="ques@(i)Option2">
                        @Model[i].Option2
                    </label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" name="q@(i)" type="radio" id="ques@(i)Option3" value="3">
                    <label class="form-check-label" for="ques@(i)Option3">
                        @Model[i].Option3
                    </label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" name="q@(i)" type="radio" id="ques@(i)Option4" value="4">
                    <label class="form-check-label" for="ques@(i)Option4">
                        @Model[i].Option4
                    </label>
                </div>
                <input type="hidden" id="ans@(i)" value="@Model[i].Answer"/>
            </div>
        }
    }
</div>

<div class="col-12 mt-4 text-center pb-3">
    <button type="button" class="btn btn-primary" id="submitXMLExamPaper" style="width: 25%;">Submit</button>
</div>